@import '../../../styles/settings';


.title {
  text-align: center;
  color: $color-text;
  font-weight: 500;
  border-bottom: 1px solid $color-top;
  padding-top: 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.list {
  padding: 30px 0;
}
