@import '../../../styles/settings';

.title {
  padding: 40px 0;
  text-align: center;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid white;
  font-size: 28px;
}

.list {
  padding: 40px 0;

  ul {
    li {
      color: $color-text;
    }
  }
}
