@import "../../../styles/settings.scss";

.root {
  background-color: $color-grey;
  padding-bottom: 40px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.numberPage {
  padding-bottom: 30px;
  text-align: center;
  color: $color-text;
}
